# Copy this file to local.properties (which is gitignored) and fill in local values.
sdk.dir=C\:\\Android\\Sdk
insta360.maven.username=provided-by-insta360-developer-application
insta360.maven.password=provided-by-insta360-developer-application
